body{
    background-image: url("BACK.jpeg");
}
.heading{
    width: 100%;
    text-align: left;
}
.heading h2{
display: inline ;
}
.heading button{
    float: right;
    border: 1px solid #ff0000;
}
.big_image{
width: 100% ;
}
#start, #status{
    font-size: 19px;
}
h4{
    background-color: rgb(255, 255, 255);
    color:red;
    line-height: 20px;
    margin: 0px;
}
.modal-dialog{
    width: 90%;

}
.instruction_image{
    display: inline-block;
    width: 45%;
}
video{
    background-image: url("game_console.png") ;
    background-size: cover;
    background-position:center;
    padding: 25px ;
    
}